/*** Basic Global Styles ***/
* {
  box-sizing: border-box;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  margin: 0 0 16px; /* bottom = footer height */
  padding-bottom: 40px;
  background-color: black;
  font-family: Arial, sans-serif;
  width: 100%;
}
h1 {
  margin: 0;
}
a {
  text-decoration: none;
  color: #5594FF;
}
iframe.mobile_iframe {
  display: none;
}
iframe.video {
  width: 516px;
  height: 360px;
}
.list_item {
  list-style: none;
}
a#downloadbtn {
  border-width: thin;
  padding: 5px;
  border-color: white;
  font-size: 2em;
  color: #2E2E2E;
  margin-top: 10em;
}

/*** Fonts & Colors ***/
@font-face {
  font-family: "VivaBeautiful";
  src: url('../fonts/VivaBeautiful.ttf') format('truetype');
}
@font-face {
  font-family: "VivaBeautifulB-Regular";
  src: url('../fonts/VivaBeautifulB-Regular.ttf') format('truetype');
}
@font-face {
  font-family: "VivaBeautifulCaps-Regular";
  src: url('../fonts/VivaBeautifulCaps-Regular.ttf') format('truetype');
}
@font-face {
  font-family: "VivaBeautifulProB-Regular";
  src: url('../fonts/VivaBeautifulProB-Regular.ttf') format('truetype');
}
@font-face {
  font-family: "VivaBeautiful-Caps";
  src: url('../fonts/VivaBeautifulCaps-Regular.ttf') format('truetype');
}
@font-face {
  font-family: "Shree";
  src: url('../fonts/Shree714.ttf') format('truetype');
}

@font-face {
  font-family: "Neon";
  src: url('../fonts/NEON.ttf') format('truetype');
}
@font-face {
  font-family: "Laughing_and_Smiling";
  src: url('../fonts/Laughing_and_Smiling.ttf') format('truetype');
}
@font-face {
  font-family: "big_noodle_titling_oblique";
  src: url('../fonts/big_noodle_titling_oblique.ttf') format('truetype');
}
@font-face {
  font-family: "Avengers";
  src: url('../fonts/event/AVENGEANCE_HEROIC_AVENGER.ttf') format('truetype');
}
@import url('https://fonts.googleapis.com/css?family=Risque');
h1.VivaBeautiful {
  font-family: 'VivaBeautifulB-Regular', Arial, sans-serif;
  font-size: 3em;
  color: white;
  font-weight: normal;
}
h2.VivaBeautiful {
  font-family: 'VivaBeautifulB-Regular', Arial, sans-serif;
  font-size: 3em;
  font-weight: normal;
}
h5.VivaBeautiful {
  font-family: 'VivaBeautifulB-Regular', Arial, sans-serif;
  font-size: 2em;
  font-weight: normal;
}
span.VivaBeautiful {
  font-family: 'VivaBeautifulB-Regular', Arial, sans-serif;
  font-size: 1.3em;
  font-weight: normal;
}
span.VivaBeautifulCaps {
  font-family: 'VivaBeautifulCaps-Regular', Arial, sans-serif;
  font-size: 1.3em;
  font-weight: normal;
}
.Shree {
  font-family: "Shree", Arial, sans-serif;
}
h1.Shree {
  font-family: "Shree", Arial, sans-serif;
  font-size: 6em;
}
h2.Shree {
  font-family: "Shree", Arial, sans-serif;
  font-size: 30px;
}
.Laughing_and_Smiling {
  font-family: "Laughing_and_Smiling", Arial, sans-serif;
}
.big_noodle_titling_oblique {
  font-family: "big_noodle_titling_oblique", Arial, sans-serif;
}

.color_cloud {
  color: #F7F7F7;
}
.color_stormy {
  color: #C6C6C6;
}
.color_coal {
  color: #2E2E2E;
}
.color_blue {
  color: #0E5394;
}
.color_gold {
  color: #FFCC00;
}
.color_royalblue {
  color: #132d52;
}

/*** Pop-up ***/
div#popup {
  height: 25%;
  top: 75%;
}

/*** Navigation Bar ***/
.nav_background {
  background: #C6C6C6;
  height: 50px;
}
a#home:hover {
  background-color: #F7F7F7;
}
nav {
  text-align: center;
  position: fixed;
  z-index: 20;
}
/*Strip the ul of padding and list styling*/
ul {
    list-style-type:none;
    margin:0;
    padding:0;
}
/*Create a horizontal list with spacing*/
li {
    display:inline-block;
    float: left;
    margin-right: 1px;
}
/*Style for menu links*/
li a {
    display:block;
    min-width:140px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    background: #C6C6C6;
    text-decoration: none;
}
/*Hover state for top level links*/
li:hover a {
    background: #0e5394;
}
/*Style for dropdown links*/
li:hover ul a {
    background: #f9f9f9;
    color: #2E2E2E;
    height: 40px;
    line-height: 40px;
}
/*Hover state for dropdown links*/
li:hover ul a:hover {
    background: #E6E6E6;
    color: #2E2E2E;
}
/*Hide dropdown links until they are needed*/
li ul {
    display: none;
}
/*Make dropdown links vertical*/
li ul li {
    display: block;
    float: none;
}
/*Prevent text wrapping*/
li ul li a {
    width: auto;
    min-width: 100px;
    padding: 0 20px;
}
/*Display the dropdown on hover*/
ul li a:hover + .hidden, .hidden:hover {
    display: block;
}
/*Style 'show menu' label button and hide it by default*/
.show-menu {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: #fff;
    background: #2E2E2E;
    text-align: center;
    padding: 10px 0;
    display: none;
}
/*Hide checkbox*/
input[type=checkbox]{
    display: none;
}
/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu{
    display: block;
}
/*Responsive Styles*/
@media screen and (max-width : 836px){
    /*Make dropdown links appear inline*/
    ul#menu {
        position: static;
        display: none;
    }
    /*Create vertical spacing*/
    li {
        margin-bottom: 1px;
    }
    /*Make all menu links full width*/
    ul li, li a {
        width: 100%;
    }
    /*Display 'show menu' link*/
    .show-menu {

        display:block;
        padding: 12px;
    }
}

/*** Kacheln auf Hauptseite ***/
/* 100% wide Tiles */
.tile_full {
  text-align: center;
  clear: both;
  width: 99.98%;
  height: 50em;
  border-style: solid;
  border-width: thin;
  border-color: white;
}
section.tile_full p {
  margin-left: 5em;
  margin-right: 5em;
}

.tile_full_text {
  background-color: #F7F7F7;
  color: #2E2E2E;
}
#tile_full_one {
  background-image: url(../img/home/charisma-background.jpg);
  background-position: right 40%;
  background-size: cover;
  background-repeat: no-repeat;
}
  #first_txt {
    font-size: 1em;
    margin-left: 1em;
    margin-right: 1em;
  }
#tile_full_two {
  background-image: url(../img/home/google-maps-blur.png);
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}
section#tile_full_two iframe {
  position: relative;
  top: -25px;
}
  img#big_logo {
    padding-top: 5em;
  }
#tile_full_vision {
  background-image: url('../img/vision/clouds.jpg');
  background-size: cover;
}
#visionLIEBE {
    font-size: 10em;
}
#tile_full_Event {
  background-image: linear-gradient(-20deg, black 0%, #00169F 100%);
  background-size: cover;
}

#EventText {
  width: 500px;
  margin-top: 20px;
}

/* 1/2 wide Tiles */
.tile_half {
  text-align: center;
  width: 49.99%;
  height: 30em;
  margin: 0;
  position: relative;
  background-color: #426CD0;
  border-style: solid;
  border-width: thin;
  border-color: white;
  overflow: hidden;
}
#tile_half_right {
  background-color: #3770A1;
  left: 49.99%;
  top: -30em;
}
#tile_half_left {
  background-image: url('../img/home/blue-gradient-background.jpg');
}
.tile_half_layer {
  height: 30em;
  overflow: hidden;
}
/*Willkommen Text*/
  div#wilkommen {
    padding-top: 5em;
  }
  div#wilkommen p {
    padding-left: 3em;
    padding-right: 3em;
  }
  .willkommenHeadline {
    margin-bottom: 5px;
  }
  .smallpaddingH {
    margin-top: 5px;
  }
iframe.video {
  width: 560px;
  height: 370px;
}
iframe.full_tile_video {
  width: 100%;
  height: 100%;
}
iframe#representVideo {
  width: 100%;
  height: 30em;
}
#tile_half_right2 {
  background-image: url(../img/home/phone-apps.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  left: 49.99%;
  top: -30em;
}
#tile_half_left2 {
  background-image: url('../img/home/eiffel-tower.jpg');
  background-position: center;
}
.social_links {
  text-decoration: none;
  display: inline-block;
  float: center;
  color: white;
  padding: 5px;
  width: 8.3em;
  padding-bottom: 0px;
  border-radius: 5px;
  transition: background-color 0.4s;
}
.social_links:hover {
  background-color: rgba(255,255,255,0.5);
}

/* 1/4 wide Tiles */
.tile_fourth {
  width: 25%;
  height: 20em;
  position: relative;
  margin: 0;
  border-style: solid;
  border-width: thin;
  border-color: white;
  text-align: center;
}
.tile_fourth_dif {
  background-color: #394D7C;
}
.tile_fourth_layer {
  height: 20em;
  overflow: hidden;
}
section#tile_fourth_one {
  background-image: url('../img/uebersetzung/headphones-background-2.jpg');
}
section#tile_fourth_two {
  background-image: url('../img/supergemeinde/supergemeinde-david.jpg');
  background-position: top right;
  left: 25%;
  top: -20em;
}
section#tile_fourth_three {
  background-image: url('../img/cafeteria/cafeteria-header-cut.jpg');
  left: 50%;
  top: -40em;
}
section#tile_fourth_four {
  background-image: url('../img/buecher/bookshelf-background.jpg');
  position: -100 0;
  left: 75%;
  top: -60em;
}
/* 1/3 wide Tiles */
.tile_third {
  width: 33.33%;
  height: 20em;
  position: relative;
  margin: 0;
  background-color: #458FD1;
  border-style: solid;
  border-width: thin;
  border-color: white;
  text-align: center;
}

section#tile_third_one {
  background-image: url('../img/ng/facetoface-background-cut.jpg');
}
section#tile_third_center {
  background-color: #5BB1FC;
  background-image: url('../img/musicschool/musicschool2.JPG');
  background-position: center;
  top: -20em;
  left: 33.33%;
}
.home_headline {
  text-shadow: 2px 2px 8px black;
}
section#tile_third_two {
  background-image: url('../img/fg/house-door-background.jpg');
  background-position: center;
  top: -40em;
  left: 66.66%;
}
.tile_third_layer {
  height: 20em;
  overflow: hidden;
}
section h1 {
  margin-top: 0.5em;
}

/*** Footer ***/
footer {
  background-color: #2E2E2E;
  position: absolute;
  color: white;
  left: 0;
  bottom: 0;
  padding: 6px;
  height: 3.5em;
  width: 100%;
  overflow:hidden;
  margin: 0;
  clear: both;
  text-align: center;
}
footer h6 {
  margin: 0;
  display: inline-block;
  font-size: 1em;
}
footer a {
  text-decoration: none;
  color: white;
}
footer a:hover {
  color: #C6C6C6;
}

/*** Visual Tweaks (for changing with JS or CSS conditions) ***/
a.toggleVisible {
  display: block;
}
.mobile {
  display: none;
}
