.main_headline {
  font-size: 10em;
  font-family: 'VivaBeautifulProB-Regular', Arial, sans-serif;
  font-weight: normal;
}

/*Übersetzung*/
#tile_full_translate_one {
  background-image: url('../img/uebersetzung/translate-mic.jpg');
  background-size: cover;
  background-position: center;
}
#tile_full_translate_two {
  background-color: #F7F7F7;
  color: #2E2E2E;
  min-height: auto;
}
#circle_flags {
  padding: 3em;
}
.big_verses {
  font-family: 'Risque', cursive;
  font-size: 2.5em;
  font-style: italic;
}

/*Lobpreis*/
#tile_full_worship_one {
  background-image: url('../img/lobpreis/worship-wallpaper.jpg');
  background-size: cover;
  background-position: center;
}
#tile_full_worship_two {
  background-color: #F7F7F7;
  color: #2E2E2E;
  min-height: auto;
}

/*Next Generation*/
#tile_full_ng1 {
  background-image: url('../img/ng/ng-youth-festival-2016.jpg');
  background-size: cover;
  background-position: center;
}
#tile_full_ng2 {
  background-color: #F7F7F7;
  color: #2E2E2E;
  min-height: auto;
}
.main_text {
  margin-left: 10em;
  margin-right: 10em;
}
#ng_headline {
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  font-family: 'VivaBeautifulCaps-Regular', Arial, sans-serif;
}
#tile_full_ng3 {
  background: linear-gradient(to right, black, #0e5394);
}
#tile_full_ng3 iframe {
  width: 50em;
  height: 30em;
}

/*Supergemeinde*/
#tile_full_superchurch_one {
  background-image: url('../img/supergemeinde/balloons.jpg');
  background-size: cover;
  background-position: center;
}
#superchurch_headline {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
#tile_full_superchurch_two {
  background-color: #F7F7F7;
  color: #2E2E2E;
  min-height: auto;
}

/*Büchertisch*/
#tile_full_books1 {
  background-image: url('../img/buecher/books.jpg');
  background-size: cover;
  background-position: center;
}
#superchurch_headline {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
#tile_full_books2 {
  background-color: #F7F7F7;
  color: #2E2E2E;
  min-height: auto;
}

/*Cafeteria*/
#tile_full_cafe1 {
  background-image: url('../img/cafeteria/coffee.jpg');
  background-size: cover;
  background-position: center;
}
#superchurch_headline {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
#tile_full_cafe2 {
  background-color: #F7F7F7;
  color: #2E2E2E;
  min-height: auto;
}

/*Impressum*/
#tile_full_impressum_one {
  background-color: #F7F7F7;
  color: #2E2E2E;
  min-height: auto;
}

/* FGs */
#tile_full_fg1 {
  background-image: url('../img/fg/door-garden.jpg');
  background-size: cover;
  background-position: center;
}
#tile_full_fg2 {
  background-color: #F7F7F7;
  color: #2E2E2E;
  min-height: auto;
}
.main_text {
  margin-left: 10em;
  margin-right: 10em;
}
#tile_full_fg3 {
  background: linear-gradient(to right, black, #009A00);
}

/* Aktuelles Event */
#tile_full_currentEv1 {
  background: linear-gradient(to bottom, #970000, #065800);
}
#tile_full_currentEv2 {
  background-color: #F7F7F7;
  color: #2E2E2E;
  min-height: auto;
}
.main_text {
  margin-left: 10em;
  margin-right: 10em;
}
#tile_full_currentEv3 {
  background: linear-gradient(to right, #065800, #970000);
}

/*Musikschule*/
#tile_full_ms1 {
  background: linear-gradient(to bottom, black, purple);
  background-image: url('../img/musicschool/acoustic2.jpg');
  background-size: cover;
  background-position: center bottom;
}
#tile_full_ms2 {
  background-color: #F7F7F7;
  color: #2E2E2E;
  min-height: auto;
}
.main_text {
  margin-left: 10em;
  margin-right: 10em;
}
#mschool_headline {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.mschooltxt {
  font-size: 2em;
  font-style: italic;
}
.mschool_instr {
  background-size: cover;
  background-position: center;
}
#overviewmschool {
  margin-bottom: 5px;
}
.overviewmschool {
  padding: 5px;
  background-color: #2E2E2E;
  color: #F7F7F7;
}
a.overviewmschool:hover {
  background-color: #C6C6C6;
}
#tile_full_ms3 {
  background-image: url('../img/musicschool/piano1.jpg');

}
#tile_full_ms4 {
  background: linear-gradient(to right, black, purple);
  background-image: url('../img/musicschool/acoustic3.jpg');
  background-size: cover;
  background-position: center;
}
#tile_full_ms5 {
  background: linear-gradient(to right, black, purple);
  background-image: url('../img/musicschool/acoustic1.jpg');
  background-size: cover;
  background-position: center;
}
#tile_full_ms6 {
  background: linear-gradient(to right, black, purple);
  background-image: url('../img/musicschool/clarinet.jpg');
  background-size: cover;
  background-position: center;
}
#tile_full_ms7 {
  background: linear-gradient(to right, black, purple);
  background-image: url('../img/musicschool/sax4.jpg');
  background-size: cover;
  background-position: center;
}
#tile_full_ms8 {
  background: linear-gradient(to right, black, purple);
  background-image: url('../img/musicschool/drums1.jpg');
  background-size: cover;
  background-position: center;
}
