<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Charisma Hamburg - Cafeteria</title>
    {% include "main_website/components/head_imports.html" %}
  </head>
  <body>
    {% include "main_website/components/navbar.html" %}
    <div id="container">
      <section id="tile_full_cafe1" class="tile_full tile_fulls">
        <h1 class="color_cloud main_headline" id="superchurch_headline">Cafeteria</h1>
      </section>
      <section id="tile_full_cafe2" class="tile_full">
        <h2 class="VivaBeautiful color_coal">Herzlich Willkommen in unserer Cafeteria</h2>
        <p class="main_text">
         <!-- Hier findest du alles was du brauchst, um mit deiner Familie und mit deinen Freunden den Tag in unserer Gemeinde Charisma mit viel Kraft und Freude zu verbringen. Ob vor oder nach dem Gottesdienst oder am Sonntag zum Frühstück, komm vorbei und genieße unsere Vielfalt an leckeren Gerichten aus den Kulturen deiner Liebsten. -->
          Sei willkommen bei unserer Cafeteria. Hier findest du Getränke, Kaffee und wöchentlich neue Gerichte aus aller Welt. Egal ob vor oder nach dem Gottesdienst oder am Sonntag zum Frühstück, wir freuen uns immer über deinen Besuch.
        </p>
        <p class="main_text">
          Wir warten auf dich und guten Appetit!
        </p>
        <!--<img id="preise" src="../img/cafeteria/preise.PNG" alt="">-->
        <table id="gerichte" class="preise">
          <tr class="preiseH">
            <td class="preise"><h4>Freitag</h4></td><td class="preise"><h4>Sonntag</h4></td>
          </tr>
          <tr>
            <td class="preise">
              <p><h4>1. Woche</h4>(02.02.18)</p>
              <p>Suppe</p>
              <p>Essen: Sandwhich</p>
            </td>
            <td class="preise">
              <p><h4>1. Woche</h4>(04.02.18)</p>
              <p>Suppe: Süßkartoffeln</p>
              <p>Essen: Hühnerkeule mit Champignons und Reis</p>
            </td>
          </tr>
          <tr>
            <td class="preise">
              <p><h4>2. Woche</h4>(09.02.18)</p>
              <p>Suppe</p>
              <p>Essen: Sandwhich</p>
            </td>
            <td class="preise">
              <p><h4>2. Woche</h4>(11.02.18)</p>
              <p>Suppe: Tomatencrem</p>
              <p>Essen: Putengulasch mit Paprika & Reis</p>
            </td>
          </tr>
          <tr>
            <td class="preise">
              <p><h4>3. Woche</h4>(16.02.18)</p>
              <p>Suppe</p>
              <p>Essen: Sandwhich</p>
            </td>
            <td class="preise">
              <p><h4>3. Woche</h4>(18.02.18)</p>
              <p>Suppe: Hühnersuppe</p>
              <p>Essen: Ofenkartoffeln, Salat & Hähnchen</p>
            </td>
          </tr>
          <tr>
            <td class="preise">
              <p><h4>4. Woche</h4>(23.02.18)</p>
              <p>Suppe</p>
              <p>Essen: Sandwhich</p>
            </td>
            <td class="preise">
              <p><h4>4. Woche</h4>(25.02.18)</p>
              <p>Suppe: Brokkoli</p>
              <p>Essen: Pasta mit Rind &  Bolognese</p>
            </td>
          </tr>
        </table>
      </section>
      <footer><p class="color_cloud">Copyright &copy; Charisma Volles Evangelium e.V. | <a href="impressum.html">Impressum</a></p></footer>
    </div>
    {% include "main_website/components/scripts.html" %}
  </body>
</html>
