{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Charisma Hamburg - Geburtstag</title>
    {% include "main_website/components/head_imports.html" %}
  </head>
  <body>
    {% include "main_website/components/navbar.html" %}
    <div id="container">
     <section id="tile_full_currentEv1" class="tile_full tile_fulls">
        <h1 class="color_cloud main_headline" id="event_headline">HAPPY BIRTHDAY</h1>
      </section>
      <section id="tile_full_currentEv2" class="tile_full">
        <center><h3 class="eventSpecialText">Wir feiern <br> 14 Jahre!</h3></center>
        <p class="main_text color_cloud">
          Wir freuen uns auf einen wunderschönen Geburtstag<br>
          mit vielen Überraschungen und abschliessender Party am
        </p>
        <center><h3 class="eventSpecialText">26.MAI <br>10:30 UHR</h3></center>
        <p class="main_text color_cloud">
          &bdquo;Was du getan hast, behalte ich nicht für mich, ich bezeuge es allen, dass du treu bist und hilfst.
          Ich will der Gemeinde nicht verschweigen wie gütig und zuverlässig du bist."<br>(Psalm 40,11 Gute Nachricht)
        </p>
        <p id="countdown"></p>
        <script src="{% static 'main_website/js/countdown.js' %}" charset="utf-8"></script>
        <!--
        <img src="../img/events/BDAY-flyer-backside.jpg" width="500" class="event_flyer">
        -->
      </section>
      <!-- <section id="tile_full_currentEv3" class="tile_full">
        <br>
        <h2 style="color: #fdf503; text-shadow: -1px 0 #e70b11, 0 1px #e70b11, 1px 0 #e70b11, 0 -1px #e70b11;" class="Shree">Willst du andere Einladen?</h2>
        <p class="main_text color_coal">Lade dir hier die Einladung runter und teile sie!</p>
        <a id="downloadbtn" href="../img/events/holyween-flyer.jpg" download><i class="far fa-arrow-alt-circle-down"></i> Download</a>
        <br>
        <br>
      </section> -->
      <footer><p class="color_cloud">Copyright &copy; Charisma Volles Evangelium e.V. | <a href="impressum.html">Impressum</a></p></footer>
    </div>
    {% include "main_website/components/scripts.html" %}
  </body>
</html>
