<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Charisma Hamburg</title>
    {% include "main_website/components/head_imports.html" %}
  </head>
  <body>
    {% include "main_website/components/navbar.html" %}
    <div id="container">
     <section id="tile_full_currentEv1" class="tile_full tile_fulls">
       <img id="event_headline" src="../img/events/holyween-title.png">
      </section>
      <section id="tile_full_currentEv2" class="tile_full">
        <h2 style="color: #fdf503; text-shadow: -1px 0 #e70b11, 0 1px #e70b11, 1px 0 #e70b11, 0 -1px #e70b11;" class="Shree">Sei dabei am 31. Oktober!</h2>
        <p class="main_text color_cloud">
          Die Welt feiert am letzten Tag des Monats Halloween, ein Gruselfest, aber wir feiern <b>Holyween</b>! <br>
          <br>
          Wir wollen den Kindern eine fröhliche Alternative an diesem dunklen Tag anbieten, sich zu verkleiden, und zwar als mächtige und coole Superhelden!
          Der Eintritt ist frei und jeder ist herzlich willkommen!
        </p>
        <h3 style="color: #fdf503; text-shadow: -1px 0 #e70b11, 0 1px #e70b11, 1px 0 #e70b11, 0 -1px #e70b11;" class="Shree">Programm:</h3>
        <p class="main_text color_cloud">
          <b>Kinderfest</b><br>
          3 - 11 Jahre <br>
          14.00 - 17.00 Uhr <br>
        </p>
        <p class="main_text color_cloud">
          <b>Teenieparty</b><br>
          11 - 15 Jahre <br>
          17.00 - 19.30 Uhr <br>
        </p>
        <!--
        <img src="../img/events/holyween-flyer.jpg" width="700" class="event_flyer">
        <img src="../img/events/holyween-flyer.jpg" width="300" class="event_flyer_small">
      -->
      </section>
      <section id="tile_full_currentEv3" class="tile_full">
        <br>
        <h2 style="color: #fdf503; text-shadow: -1px 0 #e70b11, 0 1px #e70b11, 1px 0 #e70b11, 0 -1px #e70b11;" class="Shree">Willst du andere Einladen?</h2>
        <p class="main_text color_coal">Lade dir hier die Einladung runter und teile sie!</p>
        <a id="downloadbtn" href="../img/events/holyween-flyer.jpg" download><i class="far fa-arrow-alt-circle-down"></i> Download</a>
        <br>
        <br>
      </section>
      <footer><p class="color_cloud">Copyright &copy; Charisma Volles Evangelium e.V. | <a href="impressum.html">Impressum</a></p></footer>
    </div>
    {% include "main_website/components/scripts.html" %}
  </body>
</html>
