<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Charisma Hamburg - Musikschule</title>
    {% include "main_website/components/head_imports.html" %}
  </head>
  <body>
    {% include "main_website/components/navbar.html" %}
    <div id="container">
      <section id="tile_full_ms1" class="tile_full tile_fulls">
        <h1 class="color_cloud main_headline" id="mschool_headline">Musikschule</h1>
      </section>
      <section id="tile_full_ms2" class="tile_full">
        <h2 class="VivaBeautiful color_coal">Erlerne ein Instrument!</h2>
        <p class="main_text">
          In unserer Musikschule hat jeder die Möglichkeit, kostenlos ein Instrument zu lernen. Mittlerweile haben wir 7 Instrumente (Keyboard, Schlagzeug, Gitarre, E-Gitarre, Bass-Gitarre, Saxophon, Klarinette) zur Auswahl, die jeden Freitag von <b>17.35 Uhr bis 18.30 Uhr</b> in der Gemeinde unterrichtet werden.
          Musik ist die Sprache des Lobpreises in der wir mit Gott in Kontakt treten. Wir lernen nicht nur Instrumente, sondern auch die Bedeutung von Lobpreis und Anbetung.
        </p>
        <p class="main_text">
          Falls wir dein Interesse geweckt haben, komm gerne auf unsere Lehrer zu!
          Wir freuen uns auf dich! <br><br>
          <i>Dein Musikschule - Team</i>
        </p>
        <br>
        <br>
      </section>
      <div class="tile_third_layer">
        <section id="tile_full_ms4" class="mschool_instr tile_third">
          <h2 class="VivaBeautiful color_cloud">Akustik Gitarre</h2>
          <!--
          <p class="mschooltxt color_cloud">
            Lehrer: <br>
          </p>
          -->
        </section>
        <section id="tile_full_ms9" class="mschool_instr tile_third">
          <h2 class="VivaBeautiful color_cloud">E-Gitarre</h2>
          <!--
          <p class="mschooltxt color_cloud">
            Lehrer: <br>
          </p>
          -->
        </section>
        <section id="tile_full_ms5" class="mschool_instr tile_third">
          <h2 class="VivaBeautiful color_cloud">E-Bass</h2>
          <!--
          <p class="mschooltxt color_cloud">
            Lehrer: <br>
          </p>
          -->
        </section>
      </div>
      <section id="tile_full_ms3" class="mschool_instr tile_full">
        <h1 class="VivaBeautiful color_cloud">Klavier</h1>
        <!--
        <p class="mschooltxt color_cloud">
          Lehrer: <br>
        </p>
        -->
      </section>
      <div class="tile_third_layer">
        <section id="tile_full_ms6" class="mschool_instr tile_third">
          <h2 class="VivaBeautiful color_cloud">Klarinette</h2>
          <!--
          <p class="mschooltxt color_cloud">
            Lehrer: <br>
          </p>
          -->
        </section>
        <section id="tile_full_ms7" class="mschool_instr tile_third">
          <h2 class="VivaBeautiful color_cloud">Saxophon</h2>
          <!--
          <p class="mschooltxt color_cloud">
            Lehrer: <br>
          </p>
          -->
        </section>
        <section id="tile_full_ms8" class="mschool_instr tile_third">
          <h2 class="VivaBeautiful color_cloud">Schlagzeug</h2>
          <!--
          <p class="mschooltxt color_cloud">
            Lehrer: <br>
          </p>
          -->
        </section>
      </div>
      {% include "main_website/components/footer.html" %}
    </div>
    {% include "main_website/components/scripts.html" %}
  </body>
</html>
