<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Charisma Hamburg - Die Pastoren</title>
    {% include "main_website/components/head_imports.html" %}
  </head>
  <body>
    {% include "main_website/components/navbar.html" %}
    <div id="container">
      <section id="tile_full_pastoren1" class="tile_full tile_fulls">
        <h1 class="color_cloud main_headline" id="fg_title">Pastoren</h1>
      </section>
      <section id="tile_full_pastoren2" class="tile_full">
        <h2 class="VivaBeautiful">Unsere Pastoren</h2>
        <p class="main_text">
          Robert Rasche und seine Frau Lia sind die Pastoren der Christlichen Gemeinde Charisma in Hamburg. Aufgewachsen in Paderborn, machte Pastor Rasche zunächst Abitur, später eine Ausbildung zum staatlich geprüften Agrarbetriebswirt. 8 Jahre lang arbeiteten er und seine Frau in der Gemeindearbeit in Paris an der Seite von Pastor N. Pedro und absolvierten dort gemeinsam u.a. die 2-jährige Bibelschule „Ecole de Puissance“ von Charisma. Die beiden sind seit 1994 miteinander verheiratet und haben 3 Kinder.
        </p>
        <p class="main_text">
          Ihr großes Anliegen ist es, Menschen in eine lebendige, persönliche Beziehung zu Gott hineinzuführen und sie in Kontakt mit der real erfahrbaren Liebe und Kraft Gottes zu bringen, die Leben verändert, heilt und wiederherstellt. Dazu präsentieren sie die Botschaft auf zeitgemäße und leicht verständliche Art, indem sie die typisch „religiöse“ Sprache und Tonlage früherer Generationen von Christen bewusst vermeiden.
        </p>
        <p class="main_text">
          Ihre zuweilen humorvollen Illustrationen führen nicht nur zu tieferer Erkenntnis, sondern auch zu viel Spaß in jedem Gottesdienst.
        </p>
      </section>
      <footer><p class="color_cloud">Copyright &copy; Charisma Volles Evangelium e.V. | <a href="impressum.html">Impressum</a></p></footer>
    </div>
    <div class="scripts">
      <script src="../js/navbar.js" charset="utf-8"></script>
    </div>
  </body>
</html>
