<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Charisma Hamburg - Supergemeinde</title>
    <link rel="stylesheet" href="../css/master.css">
    <link rel="stylesheet" href="../css/subsites.css">
    <!-- CSS Dateien für responsive design. Alle responsive Styles kommen in die untere CSS Dateien.-->
    <link rel="stylesheet" media="screen and (max-width: 1500px)" href="../css/responsivePC.css">
    <link rel="stylesheet" media="screen and (max-width: 640px)" href="../css/responsiveMobile.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/home/charisma-logo-blue.png">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  </head>
  <body>
    {% include "main_website/components/navbar.html" %}
    <div id="container">
      <section id="tile_full_superchurch_one" class="tile_full tile_fulls">
        <h1 class="color_cloud main_headline" id="superchurch_headline">Supergemeinde</h1>
      </section>
      <section id="tile_full_superchurch_two" class="tile_full">
        <h2 class="VivaBeautiful color_coal">Kinderbetreuung während jedem Gottesdienst</h2>
        <p class="main_text">
          In unserer Supergemeinde finden wir die Gemeinde von morgen wieder. Kinder im Alter von 0-12 Jahren haben jeden Freitag und Sonntag parallel zum Gottesdienst ihren eigenen Kindergottesdienst. Auf spielerische Art und Weise lernen sie Gott und Sein Wort kennen. Von Basteleinheiten, über gemeinsames Singen, bis hin zum Bibellesen ist alles dabei. Die Supergemeinde ist in drei Altersgruppen aufgeteilt, um jedem Kind auf seinem Niveau zu begegnen (0-3 Jahre, 3-5 Jahre, 6-12 Jahre). Ein Ort wo Freude, Spaß und offene Arme auf deine Kinder warten.
        </p>
      </section>
      <section id="tile_full_superchurch3" class="tile_full">
        <iframe width="975" height="557" src="https://www.youtube.com/embed/mce3Z4sGyUU?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
        <br>
        <br>
      </section>
      <footer><p class="color_cloud">Copyright &copy; Charisma Volles Evangelium e.V. | <a href="impressum.html">Impressum</a></p></footer>
    </div>
    <div class="scripts">
      <script src="../js/navbar.js" charset="utf-8"></script>
    </div>
  </body>
</html>
