<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Charisma Hamburg - </title>
    {% include "main_website/components/head_imports.html" %}
  </head>
  <body>
    {% include "main_website/components/navbar.html" %}
    <div id="container">
      <section id="tile_full_currentEv1" class="tile_full tile_fulls">
        <h1 class="color_cloud main_headline" id="fg_title">Themengottesdienst Familie</h1>
      </section>
      <section id="tile_full_vision2" class="tile_full">
        <h2 class="VivaBeautiful">Lorem Ipsum</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </section>
      {% include "main_website/components/footer.html" %}
    </div>
    {% include "main_website/components/scripts.html" %}
  </body>
</html>
