{% load static %}
<link rel="stylesheet" href="{% static 'main_website/css/master.css' %}">
<link rel="stylesheet" href="{% static 'main_website/css/subsites.css' %}">
<link rel="shortcut icon" href="{% static 'main_website/img/home/charisma-logo-blue.png' %}">
<!-- CSS Dateien für responsive design. Alle responsive Styles kommen in die untere CSS Dateien.-->
<link rel="stylesheet" media="screen and (max-width: 1500px)" href="{% static 'main_website/css/responsivePC.css' %}">
<link rel="stylesheet" media="screen and (max-width: 640px)" href="{% static 'main_website/css/responsiveMobile.css' %}">
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<style media="screen">
  @import url('https://fonts.googleapis.com/css?family=Bitter');
</style>
