{% load static %}
<header>
  <nav>
    <label for="show-menu" class="show-menu"><img src="{% static 'main_website/img/home/charisma-logo-blue.png' %}" width="20"> Navigation Anzeigen</label>
    <input type="checkbox" id="show-menu" role="button">
    <ul id="menu">
      <li>
        <a href="/">
          <img width="75" src="{% static 'main_website/img/home/charisma-logo-text-cropped.png' %}" alt="">
        </a>
      </li>
      <li>
          <a href="#">Gottesdienst</a>
          <ul class="hidden">
              <li><a href="/worship">Worship</a></li>
              <li><a href="/uebersetzung">Übersetzung</a></li>
              <li><a href="/supergemeinde">Supergemeinde</a></li>
          </ul>
      </li>
      <li>
          <a href="#">Events</a>
          <ul class="hidden">
              <li><a class="currentEvent" href="/event">Aktuelles Event</a></li>
              <li><a href="/kalender">Event Kalender</a></li>
          </ul>
      </li>
      <li>
          <a href="#">Für Dich</a>
          <ul class="hidden">
              <li><a href="/ng">Next Generation</a></li>
              <li><a href="/fg">Familiengruppen</a></li>
              <li><a href="/cloob" class="toggle">Clööb</a></li>
          </ul>
      </li>
      <li>
          <a href="#">Über Uns</a>
          <ul class="hidden">
              <li><a href="/vision">Vision</a></li>
              <li><a href="/pastoren">Pastoren</a></li>
              <li><a href="/geschichte">Geschichte</a></li>
          </ul>
      </li>
      <li>
          <a href="#">Mehr</a>
          <ul class="hidden">
              <li><a href="/cafeteria">Cafeteria</a></li>
              <li><a href="/buecher">Büchertisch</a></li>
              <li><a href="/musikschule">Musikschule</a></li>
          </ul>
      </li>
    </ul>
  </nav>
  <div class="nav_background"></div>
</header>
