{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Charisma Hamburg</title>
    {% include "main_website/components/head_imports.html" %}
  </head>
  <body>
    {% include "main_website/components/navbar.html" %}
    <div id="container">
      <section class="tile_full" id="tile_full_one">
        <img src="{% static 'main_website/img/home/charisma-logo-transparent.png' %}" id="big_logo">
      </section>
      <div id="wilkommenlayer" class="tile_half_layer">
        <section id="tile_half_left" class="tile_half">
          <div id="willkommen">
            <h1 class="VivaBeautiful willkommenHeadline">Willkommen in der Gemeinde Charisma</h1>
            <p id="first_txt" class="color_stormy main_text">"Unser großes Anliegen ist es, Menschen in eine lebendige, persönliche Beziehung zu Gott hineinzuführen und sie in Kontakt mit der real erfahrbaren Liebe und Kraft Gottes zu bringen, die Leben verändert, heilt und wiederherstellt."</p>
            <h5 class="VivaBeautiful color_cloud willkommenHeadline smallpaddingH">Gottesdienste</h5>
            <p class="color_stormy">Hauptgottesdienst - Sonntags um 10.30 Uhr</p>
            <p class="color_stormy">Gebetsgottesdienst - Freitags 20.00 Uhr</p>
          </div>
        </section>
        <section id="tile_half_right" class="tile_half">
          <center>
          <iframe class="video" id="representVideo" src="https://www.youtube.com/embed/jToGTqmjKGA?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
          </center>
        </section>
      </div>
      <a class="eventAd" href="/event' %}">
        <section id="tile_full_Event" class="tile_full">
          <img id="EventText" src="img/events/holyween-title.png">
        </section>
      </a>
      <a href="/vision">
        <section id="tile_full_vision" class="tile_full">
          <h1 class="VivaBeautiful">Unsere Vision der</h1>
          <h1 id="visionLIEBE" class="Shree color_cloud">LIEBE</h1>
        </section>
      </a>
      <div class="tile_fourth_layer">
        <a href="{% static 'main_website/pages/uebersetzung.html' %}">
          <section class="tile_fourth" id="tile_fourth_one">
            <h2 class="VivaBeautiful color_cloud home_headline">Übersetzung</h2>
            <img src="{% static 'main_website/img/uebersetzung/spain-flag.png' %}" alt="Portugues" width="60" height="60" class="translate_flags">
            <img src="{% static 'main_website/img/uebersetzung/brazil-flag.png' %}" alt="Portugues" width="60" height="60" class="translate_flags">
            <img src="{% static 'main_website/img/uebersetzung/usa-flag.png' %}" alt="Portugues" width="60" height="60" class="translate_flags">
            <img src="{% static 'main_website/img/uebersetzung/france-flag.png' %}" alt="Portugues" width="60" height="60" class="translate_flags">
          </section>
        </a>
        <a href="{% static 'main_website/pages/supergemeinde.html' %}" title="Supergemeinde">
          <section class="tile_fourth tile_fourth_dif" id="tile_fourth_two">
            <h2 class="VivaBeautiful color_cloud home_headline">Kinderbetreuung</h2>
            <h5 class="VivaBeautiful color_cloud home_headline">in unserer Supergemeinde</h5>
          </section>
        </a>
        <a href="{% static 'main_website/pages/cafeteria.html' %}" title="Caféteria">
          <section class="tile_fourth tile_fourth_dif" id="tile_fourth_three">
            <h2 class="VivaBeautiful color_cloud home_headline">Cafeteria</h2>
            <h5 class="VivaBeautiful color_cloud home_headline">neue Gäste sind eingeladen</h5>
          </section>
        </a>
        <a href="{% static 'main_website/pages/buecher.html' %}" title="Buechertisch">
          <section class="tile_fourth tile_fourth_dif" id="tile_fourth_four">
            <h2 class="VivaBeautiful color_cloud home_headline">Büchertisch</h2>
            <h5 class="VivaBeautiful color_cloud home_headline">Input für die Woche</h5>
          </section>
        </a>
      </div>
      <div class="tile_third_layer">
        <a href="{% static 'main_website/pages/ng.html' %}">
          <section class="tile_third" id="tile_third_one">
            <h2 class="VivaBeautiful color_cloud home_headline third_headline">NEXT GENERATION</h2>
            <h5 class="VivaBeautiful color_cloud home_headline third_headline">jeden 1. und 3. Samstag im Monat um 17.00 Uhr</h5>
          </section>
        </a>
        <a href="{% static 'main_website/pages/musikschule.html' %}">
          <section class="tile_third" id="tile_third_center" >
            <h2 class="VivaBeautiful color_cloud home_headline third_headline" id="musicschool_headline">
              Musikschule
            </h2>
            <h5 class="VivaBeautiful color_cloud home_headline third_headline">Jeden Freitag um 17:35</h5>
          </section>
        </a>
        <a href="{% static 'main_website/pages/fg.html' %}">
          <section id="tile_third_two"class="tile_third">
            <h2 class="VivaBeautiful color_cloud home_headline third_headline">Familiengruppen</h2>
            <h5 class="VivaBeautiful color_cloud home_headline third_headline">jede Woche in den verschiedenen Stadtteilen Hamburgs</h5>
          </section>
        </a>
      </div>
      <div class="tile_half_layer">
        <a href="http://www.charisma.fr/fr/">
          <section id="tile_half_left2" class="tile_half">
            <h1 class="VivaBeautiful home_headline">Charisma Paris</h1>
            <h5 class="VivaBeautiful color_cloud home_headline">Unsere Muttergemeinde</h5>
          </section>
        </a>
        <section id="tile_half_right2" class="tile_half">
          <h1 class="VivaBeautiful">Social Networks</h1>
          <div class="content" id="socialMedia">
            <br>
            <a class="social_links" href="https://www.facebook.com/Christliche.Gemeinde.Charisma/">
              <img width="50" src="{% static 'main_website/img/home/fb-icon.png' %}" alt="">
              <h2>Facebook</h2>
            </a>
            <!--
            <a class="social_links" href="https://www.instagram.com/ngcharisma/">
              <img width="50" src="img/home/instagram-icon.png" alt="">
              <h2>Instagram</h2>
            </a>
            -->
            <a class="social_links" href="https://www.youtube.com/channel/UC8Er_MXu2Tmm8Zg-BvNNG-w">
              <img width="50" src="{% static 'main_website/img/home/yt-icon.ico' %}" alt="">
              <h2>Youtube</h2>
            </a>
            <a class="social_links" href="https://www.snapchat.com/add/cgcnews">
              <img width="50" src="{% static 'main_website/img/home/snapchat-cgcnews.png' %}" alt="">
              <h2>Snapchat</h2>
            </a>
            <br>
            <a class="social_links" id="mailtobtn" href="mailto:info@charisma-ev.de" "email me">
              <img width="50" src="{% static 'main_website/img/home/email-icon.png' %}" alt="">
              <h2 class="home_headline">Schreib uns!</h2>
            </a>
          </div>
        </section>
      </div>
      <section class="tile_full" id="tile_full_two">
        <h2 class="VivaBeautiful color_coal">Standort</h2>
          <iframe class="PC_iframe" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2367.2019466564907!2d10.047901215391493!3d53.60769998003463!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47b18912a599fadd%3A0x27957fc3a3055c5b!2sCharisma+Hamburg!5e0!3m2!1sen!2sde!4v1508935442372" width="1300" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
          <iframe class="mobile_iframe" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2367.2019466564907!2d10.047901215391493!3d53.60769998003463!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47b18912a599fadd%3A0x27957fc3a3055c5b!2sCharisma+Hamburg!5e0!3m2!1sen!2sde!4v1508935442372" width="320" height="120" frameborder="0" style="border:0" allowfullscreen></iframe>
      </section>
      {% include "main_website/components/footer.html" %}
    </div> <!-- end of #container -->
    <div class="scripts">
      <script src="{% static 'main_website/js/navbar.js' %}" charset="utf-8"></script>
    </div>
  </body>
</html>
